In [ ]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [25]:
# EW = pd.read_csv("./dumbarton_det_files/2200' W of Toll Plaza 426470 combined.csv")[['5 Minutes', 'Flow (Veh/5 Minutes)', 'Delay (V_t=60) (Veh-Hours)']]
# WE = pd.read_csv("./dumbarton_det_files/oppo 2200' W of Toll Plaza 426454 combined.csv")[['5 Minutes', 'Flow (Veh/5 Minutes)', 'Delay (V_t=60) (Veh-Hours)']]

# EW = pd.read_csv("./dumbarton_det_files/3300' W of toll Plaza 426469 combined.csv")[['5 Minutes', 'Flow (Veh/5 Minutes)', 'Delay (V_t=60) (Veh-Hours)']]
# WE = pd.read_csv("./dumbarton_det_files/oppo 3300' W of toll Plaza 426453 combined.csv")[['5 Minutes', 'Flow (Veh/5 Minutes)', 'Delay (V_t=60) (Veh-Hours)']]

EW = pd.read_excel("./KGO.xlsx")[['Hour', 'Flow (Veh/Hour)', 'Delay (V_t=60) (Veh-Hours)']]
WE = pd.read_excel("./oppo KGO.xlsx")[['Hour', 'Flow (Veh/Hour)', 'Delay (V_t=60) (Veh-Hours)']]

table = EW.merge(WE, on='Hour', suffixes=('_EW', '_WE'))
table['Hour'] = pd.to_datetime(table['Hour'])
table['Estimated Delay_EW'] = table['Delay (V_t=60) (Veh-Hours)_EW']
table['Estimated Delay_WE'] = table['Delay (V_t=60) (Veh-Hours)_WE']

# table = table[table['Hour'].dt.date < datetime.date(2025, 5, 1)]

weekday_mask = table['Hour'].dt.weekday < 5

morning_mask = (
    (table['Hour'].dt.time >= datetime.time(5, 0)) &
    (table['Hour'].dt.time <= datetime.time(9, 15)) &
    weekday_mask
)
afternoon_mask = (
    (table['Hour'].dt.time >= datetime.time(15, 0)) &
    (table['Hour'].dt.time <= datetime.time(17, 0)) &
    weekday_mask
)

table.loc[morning_mask, 'Estimated Delay_EW'] *= 0.75
table.loc[morning_mask, 'Estimated Delay_WE'] *= 1.50

table.loc[afternoon_mask, 'Estimated Delay_WE'] *= 0.75
table.loc[afternoon_mask, 'Estimated Delay_EW'] *= 1.50

print(sum(table['Delay (V_t=60) (Veh-Hours)_EW']))
print(sum(table['Estimated Delay_EW']))

print(sum(table['Delay (V_t=60) (Veh-Hours)_WE']))
print(sum(table['Estimated Delay_WE']))

4014.49999999989
3274.399999999968
9361.900000000474
8863.350000000215

In [33]:
table

,Hour,Flow (Veh/Hour)_EW,Delay (V_t=60) (Veh-Hours)_EW,Flow (Veh/Hour)_WE,Delay (V_t=60) (Veh-Hours)_WE,Estimated Delay_EW,Estimated Delay_WE
0,2023-01-01 00:00:00,731,0.0,1324,0.0,0.000,0.0
1,2023-01-01 01:00:00,805,0.0,1364,0.0,0.000,0.0
2,2023-01-01 02:00:00,676,0.0,1168,0.0,0.000,0.0
3,2023-01-01 03:00:00,641,0.0,970,0.0,0.000,0.0
4,2023-01-01 04:00:00,620,0.0,972,0.0,0.000,0.0
...,...,...,...,...,...,...,...
20572,2025-05-07 07:00:00,4362,6.7,1577,0.0,5.025,0.0
20573,2025-05-07 08:00:00,4068,19.9,1734,0.0,14.925,0.0
20574,2025-05-07 09:00:00,2976,11.5,1382,0.0,8.625,0.0
20575,2025-05-07 10:00:00,2279,0.1,1524,0.1,0.100,0.1
20576,2025-05-07 11:00:00,1650,0.0,1564,0.0,0.000,0.0